* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

:root {
    --theme-background: #fff;
    --theme-text: #000;
    --theme-link: indigo;
    --theme-link-hover: crimson;
}

body {
    color: var(--theme-text);
    background-color: var(--theme-background);
}

a {
    text-decoration: none;
    color: var(--theme-link);
    transition: color 300ms;
}

a:hover {
    color: var(--theme-link-hover);
}

svg {
    width: 40px;
    height: 40px;
}

.wrapper {
    padding: 1rem 5%;
    margin: 0 auto;
    max-width: 800px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.quiz-image-container {
    margin-top: 1rem;
    height: 30vw;
    max-height: 280px;
}

.quiz-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.quiz-info {
    margin: 1rem 0;
}


/* #region QUIZ SETTINGS */

.settings {
    display: flex;
    align-items: center;
}

.settings .settings__icon {
    transition: fill 300ms, transform 300ms;
}

.settings:hover .settings__icon {
    transform: scale(1.2);
    fill: royalblue;
}

.settings__menu {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0 0;
    height: 0;
    background-color: white;
    display: grid;
    grid-auto-rows: 1fr;
    gap: 0.25rem;
    overflow: hidden;
    transition: height 300ms, padding 300ms;
}

.settings__menu.js-active {
    padding: 1rem 0;
    height: 180px;
}

.settings__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 100%;
    color: #111111;
    background-color: #f3f3f3;
    transition: background-color 300ms, color 300ms;
}

.settings__menu-item:hover {
    color: #000000;
    background-color: #ececec;
}

.settings__add {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.settings__add.js-active {
    display: flex;
}

.settings__add-content {
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    padding: 2rem 2rem 1rem;
    width: 87vw;
    min-width: 250px;
    max-width: 500px;
    max-height: 80vh;
    overflow: auto;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.settings__add-close {
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;
}

.settings__add-close .settings__add-close-icon {
    transition: fill 300ms;
}

.settings__add-close:hover .settings__add-close-icon {
    fill: crimson;
}

.settings__quiz {
    margin-top: 1rem;
}

.settings__quiz-question-container {
    display: grid;
    gap: 0.5rem;
}

.settings__quiz-input {
    width: 100%;
    padding: 0.5rem;
}

.create-question-link {
    display: none;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.create-question-link.js-active {
    display: flex;
    color: #111111;
}

.create-question-link.js-active:hover {
    color: #000000;
    background-color: #ececec;
}


/* #endregion QUIZ SETTINGS */


/* #region QUIZ */

.quiz {
    margin: 1rem 0;
}

.quiz__group {
    display: grid;
    grid-template-columns: 1rem 1fr;
    align-items: center;
    margin: 1rem 0;
}

.quiz__question-separator {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, transparent, lightgray, transparent);
    margin: 2rem 0;
}

.quiz__buttons {
    display: flex;
    justify-content: flex-end;
}

.quiz__buttons.js-hidden {
    display: none;
}

.quiz__group-submit {
    padding: 0.8rem 1.2rem;
    color: #cccccc;
    border: 1px solid #d8d8d8;
    border-radius: 0.25rem;
    outline: none;
    margin: 1rem 0.25rem;
    min-width: 100px;
}

.quiz__group-submit.js-active {
    color: unset;
    border-color: unset;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.quiz__group-submit.js-active:hover {
    background-color: aliceblue;
}

.quiz__group-submit.quiz__group-submit-highlight.js-active {
    color: white;
    background-color: royalblue;
}

.quiz__group-submit.quiz__group-submit-highlight.js-active:hover {
    background-color: #5a7ee7;
}

.quiz__choice.js-correct {
    font-weight: 500;
    color: limegreen;
}

.quiz__choice.js-wrong {
    font-weight: 500;
    text-decoration: line-through;
    color: crimson;
}

.quiz__result-comment {
    color: darkcyan;
}

.quiz__result-comment.js-hidden {
    display: none;
}

.quiz__result-score {
    color: limegreen;
    font-weight: 500;
    margin-left: 0.5rem;
}

.quiz__result-score span {
    color: crimson;
}

.quiz__result-score.quiz__result-score-max span {
    color: limegreen;
}

.quiz__result-score.quiz__result-score-min {
    color: crimson;
}

.quiz__result-score i {
    color: initial;
    font-style: normal;
}

.quiz__total-score-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz__total-score-inner {
    font-size: 1.4rem;
}

.quiz__total-score-title {
    font-size: 1.8rem;
}

.quiz__compare ul {
    list-style-type: none;
    margin: 0.5rem 0 0 0.5rem;
}

.quiz__compare-bad {
    font-weight: 700;
    color: crimson;
}

.quiz__compare-good {
    font-weight: 700;
    color: royalblue;
}

.quiz__compare-fantastic {
    font-weight: 700;
    color: limegreen;
}

.quiz__perfect-score {
    font-size: 1.5rem;
    font-weight: 700;
    color: limegreen;
}


/* #endregion QUIZ */